<div class ="row">
    <div class ="col-xs-12 col-sm-6 col-md-8">
    <br>
      <span><h1> TRIPNAMEHERE , </h1><h4>( City, Country )</h4></span>
    </div>
  </div>
    <div class ="row">
      <div class ="col-xs-6 col-md-4">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div class="table-responsive">
          <table class="table">
            ...
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
