<div class="container-fluid">

<h1>Welcome to Tripr!</h1>

<%= link_to "Logout", logout_path, class:"btn btn-tripr" %>

<%= link_to "New Trip", new_trip_path, class:"btn btn-tripr" %>

<div class="row">

<div class="col-xs-6 col-md-4"></div>


</div>

</div>