.container-fluid{
  margin-top: 30px;
  width:100%;
}

body{
  font-family: mankSans;
  color: white;
  background: url('positanonight.jpg') no-repeat center center fixed;
  background-size: cover;
  width:100%;
}

.glyphicon glyphicon-globe{
  color: black;
}

h1{
  font-family: mankSans;
  font-size: 50px;
}

input{
  color: black;
}

.btn-tripr{
  border-radius: 0px;
  border-color: white;
  border: 2px solid white;
  background-image: none;
  background: #fff;
  opacity: .5;
  color: black;
  &:hover {
    // background: pink;
  };
}
.btn-tripr-inverse{
  border-radius: 2px;
  border-color: white;
  border: 2px solid white;
  background-image: none;
  background: black;
  opacity: .5;
  color: white;
  &:hover {
    background: white;
    color: black;
      border: 2px solid black;
  };
}

a{
  color:white;
}

.logincontainer{
  border: 2px solid white;
  width: 300px;
  padding: 20px;
}

.col-xs-12 .col-md-8{
 background-color: white;
 border: 2px solid white;
 color: blue;
}

.col-xs-6 .col-md-4{
 background-color: white;
 border: 2px solid white;
 color: blue;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
}

#newTripForm{
  background: #fff;
  opacity: .8;
  width: 100%;
  height: 330px;
  padding: 20px;
  color: black;
}